@charset "utf-8";
*, ::after, ::before {
    box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}
ul.social{
	text-decoration:none
}
ul.social li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .3rem;
}

ul.social li i{
	color: #fff;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #000;
    text-align: center;
	line-height: 25px;
	font-size: .8rem;
}
ul.social+span {
    letter-spacing: .05rem;
    font-size: .8rem;
    font-weight: 500;
    color: #000;
}
ul.profil li i{
	display: block;
    height: 25px;
	width: 25px;
	font-size: 20px;
    
}
.profil a{
	text-decoration: none;
	color: #000;
}
.logo{
	width: 200px;
	max-width: 100%;
}
form{
	width: 50%;
	margin: 20px 10px 10px 0;
}
form div.item{
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}
form label{
	min-width: 150px;
	margin: 5px;
	padding: 2px;
	font-weight: bold;
}
input[type="file"]{
	display: none;
}
