.link nav {
    font-size:0.8rem;
    a{
        text-decoration: none;
        color: $couleur;
        &::after{
            content:'/';
        }
    }
}
.category_product{
    cursor: pointer;
}

