.product_marque{
    font-size: 1rem;
}
.product_name{
    margin-bottom: 20px;
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.product_description  a{
        color:$couleur;
        font-size: .8rem;
        text-decoration: underline;
        
}
.product_price{
    font-size: 2em;
}
.detail_desc{
    font-weight: 600;
    font-size: .75rem;
}
.detail_property{
    font-size: .75rem;
}
.stock{
    font-size: .85rem; 
}
.form_detail{
    display: flex;
    flex-direction: row;   
}
.check_out.detail_button{
    margin: 0;
}
.form_number::-webkit-inner-spin-button,
.form_number::-webkit-outer-spin-button {
   opacity: 1;
}   