.form_form{
    .form-control {
    margin-bottom: 20px; 
    padding: 1.5em 1rem;
    }
}
.erreur{
    margin-bottom: 10px;
    color:red; 
    font-size: 0.9rem; 
}
.erreur_login{
    height:30px;
    width: 100%;
    color: red;
    font-size: 0.9rem;  
}
.form_detail.form-control{
    padding: 1.5em 1rem;
}
.form_login.form-control{
    padding: 1.5em 1rem;
}
