.table_product_cart{
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 24px;
    text-align: left;
    tr{
        display: table-row;
        th{
            font-weight: 700;
            padding: 9px 12px;
            line-height: 1.5em;
        }
        td{
            display: table-cell;
            border-top: 1px solid rgba(0,0,0,.1);
            padding: 9px 12px;
            vertical-align: middle;
            line-height: 1.5em;
            font-size: .8rem;
        }
    }
}
.cart_name{
    width: 553px;
} 
.cart_ref {
    font-size: 10px;
}
.cart_couleur{
    font-size: 10px; 
}
.cart_quantity{
    text-align: center;
}
.cart_remove{
    cursor: pointer;
}
.empty_total{
    content: '';
}
.cart_total_span{
    font-size: 1.3rem;
    margin: 1rem 0 2rem;
    font-weight: 300;
}
.table_total{
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 1px 24px 0;
    text-align: left;
    tr{
        display: table-row;
        th{
            border-top: 1px solid rgba(0,0,0,.1);
            font-weight: 700;
            padding: 9px 12px;
            line-height: 1.5em;
        }
        td{
            display: table-cell;
            border-top: 1px solid rgba(0,0,0,.1);
            padding: 9px 12px;
            vertical-align: middle;
            line-height: 1.5em;
            font-size: .8rem;
        }
    }
}
#total::after{
    content: '€'
}
.cart_subtotal::after{
    content: '€'
}
.check_out:hover {
    letter-spacing: 0.8em;
    background-color: $couleur;
}
.check_out {
    color: white;
    font-size: .8rem;
    height: 3em;
    width: 100%;
    padding: 1.5em auto;
    margin: 1em auto;
    background-color: $couleur;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}
.back{
    font-size: .8rem;
    margin: 0;
    line-height: 1;
    position: relative;
    padding: .618em 1em;
    background-color: #ebe9eb;
    border: 0;
    display: inline-block;
    border-radius: 0;
    text-transform: uppercase;
    &:hover{
        background-color: #e0e0e0;
    }
    a{
        text-decoration: none;
        color: #515151;
        font-weight: 300;
    }
}
